bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
FbxImporter.sln.DotSettings.user
.vs/*
x64/*
FbxDataExtractor/x64/*
FbxImporter/SoulsFormats.xml
FbxImporter/SoulsFormats.dll
FbxImporter/SoulsAssetPipeline.dll
Backup/FbxImporter.sln
